body {
	font-family: 'Noto Sans', sans-serif;
}

#return-top-button {
	position: fixed;
	bottom: 16px;
	right: 16px;
	border-radius: 50%;
	border: 3px solid #7f7f7f;
	width: 46px;
	height: 46px;
	color: #fff;
	opacity: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 2.0rem;
	cursor: pointer;
	background-color: #7f7f7f;
	transition: opacity 0.4s ease;
}

.display-none {
	display: none;
}

.screen {
	position: relative;
}

.full-screen {
	height: 100%;
	width: 100%;
}

#top {
    top: 0;
	background: #83a4d4; /* fallback for old browsers */
 /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, #83a4d4, #b6fbff);
    background: -o-linear-gradient(top, #83a4d4, #b6fbff);
    background: linear-gradient(to bottom, #83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#outline {
    background: #b6fbff; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #b6fbff, #F7BB97);
	background: -o-linear-gradient(top, #b6fbff, #F7BB97);
    background: linear-gradient(to bottom, #b6fbff, #F7BB97);
}
#location {
    background: #F7BB97; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #F7BB97 , #DD5E89); /* Chrome 10-25, Safari 5.1-6 */
	background: -o-linear-gradient(top, #F7BB97 , #DD5E89);
    background: linear-gradient(to bottom, #F7BB97 , #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}
#members {
	background: #DD5E89; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #DD5E89, #EAECC6);
	background: -o-linear-gradient(top, #DD5E89, #EAECC6);
    background: linear-gradient(to bottom, #DD5E89, #EAECC6);
}
#memories {
	background: #EAECC6; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #EAECC6, #F0CB35); /* Chrome 10-25, Safari 5.1-6 */
	background: -o-linear-gradient(top, #EAECC6, #F0CB35);
    background: linear-gradient(to bottom, #EAECC6, #F0CB35);
}

/* common */
.area {
	position: relative;
	width: 100%;
}
.area.area-logo {
	top: 35%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 4.2rem;
	color: #fff;
	text-shadow: 2px 2px 2px #555;
}
.area.area-title {
	top: 15%;
	text-align: center;
	color: #fff;
	font-size: 2.1rem;
	text-shadow: 2px 2px 2px #555;
}
.area.area-contents {
	top: 25%;
	margin : 0 auto;
	display: flex;
	justify-content: center;
}

/* menu (top) */
.area.area-menu {
	display: flex;
	margin: 16px auto;
	align-items: center;
	justify-content: center;
	top: 50%;
}
.area.area-menu .menu-button {
	padding: 0 8px;
	width: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.area.area-menu .menu-button button {
	background-color: #fff;
	color: #0277BD;
}

.area.area-menu .menu-button .label {
	text-align: center;
	padding: 10px 0;
	color: #fff;
	text-shadow: 2px 2px 2px #555;
}

/* members */
.area.area-title.members {
	top: 15%;
}
.area.area-contents.members {
	margin: 20px auto 0 auto;
	top: 25%;
	flex-direction: column;
}
.area.area-contents.members .row-member {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 310px;
	margin: 24px auto;
}
.area.area-contents.members .row-member .icon {
	width: 64px;
	height: 64px;
	margin: 0 16px 0 0;
}
.area.area-contents.members .row-member .icon img{
	width: auto;
	height: auto;
	max-width: 64px;
	max-height: 64px;
	border-radius: 50%;
}
.area.area-contents.members .row-member .labels{
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
}
.area.area-contents.members .row-member .labels .name {
	font-size: 1.7rem;
	line-height: 2.1rem;
}

/* location screen */
.area.area-contents.location .demo-card-square.mdl-card {
	width: 75%;
	height: 65%;
}
.area.area-contents.location .demo-card-square > .mdl-card__title {
  background:
    url('http://www.yunishigawa.co.jp/facilities/gallery/img_gallery_bg07.jpg') top left 15% no-repeat;
  background-size:cover;
}
.area.area-contents.location .demo-card-square > .mdl-card__title .mdl-card__title-text a {
	text-decoration: none !important;
	color: #fff !important;
  	text-shadow: 2px 2px 5px #555 !important;
}
@media screen and (max-width: 479px) {
	.area.area-contents.location .demo-card-square.mdl-card {
		width: 75%;
		height: 60%;
	}
	.area.area-contents.location .demo-card-square > .mdl-card__title {
		color: #fff;
		text-shadow: 2px 2px 5px #555;
		background:
			url('http://www.yunishigawa.co.jp/facilities/gallery/img_gallery_bg07.jpg') top right 15% no-repeat;
		background-size: cover;
	}
	.area.area-contents.location .demo-card-square > .mdl-card__title .mdl-card__title-text {
		font-size: 18px;
	}
}

/* comming soon contents */
.area.area-title.no-contents {
	//
}

.area.area-contents.no-contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	top: 40%;
}

.area.area-contents.no-contents i {
	font-size: 3.0rem;
	color: #fff;
	padding: 16px;
}
.area.area-contents.no-contents .label {
	font-size: 1.7rem;
	color: #fff;
	/*text-shadow: 2px 2px 5px #555*/
}

@media (max-width: 480px) {
	/*.area.area-menu .menu-button {
		padding: 0 8px;
		width: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.area.area-menu .menu-button .icon {
		border-radius: 50%;
		box-shadow: 2px 2px 5px #7f7f7f;
		text-align: center;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		color: #83a4d4;
		fo
	}
	.area.area-menu .menu-button .label {
		text-align: center;
		padding: 10px 0;
		color: #fff;
		text-shadow: 2px 2px 5px #7f7f7f;
	}*/
}